@import "bourbon/bourbon";

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
}

@mixin respond-to($media) {
  @if $media==_320 {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }

  @else if $media==_375 {
    @media only screen and (max-width: 375px) {
      @content;
    }
  }

  @else if $media==_425 {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }

  @else if $media==_675 {
    @media only screen and (max-width: 675px) {
      @content;
    }
  }

  @else if $media==_768 {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @else if $media==_991 {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }

  @else if $media==_1024 {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @else if $media==_1200 {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @else if $media==_1440 {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}

$primary: #1F1F1F;
$hover: #C4E2E2;

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  color: $primary;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.mobile_menu {
  display: none;

  .menu_close_btn {
    position: absolute;
    top: -1050%;
    left: 0;
  }

  &.active {
    position: relative;
    z-index: 999;
  }

  @include respond-to(_1024) {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  .burger_menu {
    position: relative;
    width: 27px;
    height: 18px;

    &.active {
      span {
        transform: scale(0);
        transition: all 0.4s linear;
      }

      &::before,
      &::after {
        top: 9px;
        transition: all 0.3s linear;
        width: 20px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background: $primary;
      border-radius: 2px;
      width: 22px;
      height: 2px;
      left: 0;
      transition: all 0.4s linear;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      background: $primary;
      border-radius: 2px;
      left: 0;
      width: 22px;
      height: 2px;
      top: 8px;
      transition: all 0.4s linear;
    }
  }
}

.hidden {
  display: none;
}

a {
  color: $primary;
  transition: all .3s ease;
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;

  &:hover {
    color: $primary;
    transition: all .3s ease;
    text-decoration: none;
  }

  @include respond-to(_425) {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }
}

.issue_block {
  padding: 30px 20px;
  border: 1px solid #1F1F1F;
  filter: drop-shadow(0px 13px 12px rgba(34, 34, 34, 0.25));
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    box-shadow: 8px 8px 0px 1px rgba(0, 130, 131, 0.66);
    transition: all .3s ease;
  }

  h4 {
    margin: 10px 0 0 0;
  }

  p {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1F1F1F;
    opacity: 0.8;
    margin: 0;

    @include respond-to(_425) {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
    }
  }
}

ul,
ol {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1F1F1F;

  li {
    margin-bottom: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1F1F1F;

    @include respond-to(_425) {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
    }
  }
}

ol {
  padding-left: 18px;
}

h1 {
  font-family: 'CM Literata';
  font-style: normal;
  font-weight: 400;
  font-size: 240px;
  line-height: 80%;
  color: #008283;
  margin: 9px 0 25px 0;

  @include respond-to(_768) {
    font-size: 200px;
  }

  @include respond-to(_425) {
    font-size: 110px;
  }

  @include respond-to(_375) {
    font-size: 80px;
  }
}

h2 {
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 90%;
  color: #008283;
  margin: 0 0 30px 0;

  @include respond-to(_425) {
    font-size: 35px;
  }

  @include respond-to(_375) {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
  }
}

h3 {
  font-family: 'Cambria';
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #008283;
  margin: 8px 0;
  margin-top: 0;

  @include respond-to(_425) {
    font-size: 32px;
  }

  @include respond-to(_375) {
    font-size: 24px;
  }
}

h4 {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  color: #1F1F1F;

  @include respond-to(_425) {
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
  }
}

h5 {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #1F1F1F;
  opacity: 0.4;
  margin-top: 0;

  @include respond-to(_425) {
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
  }
}

p {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1F1F1F;

  @include respond-to(_768) {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }
}

input {
  padding: 15px 20px;
  border: 1px solid #1F1F1F;
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #1F1F1F;
  opacity: 0.8;
  outline: none;

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #1F1F1F;

    opacity: 0.5;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #1F1F1F;

    opacity: 0.5;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #1F1F1F;

    opacity: 0.5;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #1F1F1F;

    opacity: 0.5;
  }
}

.default_btn {
  padding: 14px 0;
  width: 100%;
  background: #1F1F1F;
  opacity: 0.5;
  border: 1px solid #1F1F1F;
  display: block;
  text-align: center;
  margin-top: 40px;

  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;

  &:hover {
    opacity: 1;
    color: #fff;
  }
}

.go_back_btn {
  display: flex;
  align-items: center;
  margin-top: 30px;

  img {
    margin-right: 13px;
  }
}

.registration_slider{
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  transition: all .3s ease;
  .registration_slider_block{
    max-width: 638px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .3s ease;
  }
}

.attention {
  color: #D34747;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.networks {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include respond-to(_425) {
    justify-content: flex-start;

  }

  a {
    margin: 0 14px;

    @include respond-to(_320) {
      margin: 0 7px;
    }

    img {
      max-width: 21px;
      max-height: 21px;
    }
  }

  p {
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
  }
}

.breadcrumb {
  list-style: none;
  display: flex;
  padding: 0;
  height: auto;
  margin-bottom: 0;

  li {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A4A4A4;
    margin: 0;

    @include respond-to(_425) {
      font-weight: 400;
      font-size: 11px;
      line-height: 110%;
    }

    a {
      color: #A4A4A4;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;

      @include respond-to(_425) {
        font-weight: 400;
        font-size: 11px;
        line-height: 110%;
      }
    }

    &::after {
      content: "-";
      margin-left: 8px;
      margin-right: 8px;
    }

    &:last-child {
      a {
        color: $primary;
      }

      &::after {
        display: none;
      }
    }
  }
}

button {
  padding: 0;
}

.pages_btns {
  list-style: none;
  display: flex;
  margin-top: 60px;
  padding: 0;

  li {
    margin: 0 5px;
    padding: 5px 6px;
    border: 1px solid $primary;
    border-radius: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $hover;
    }

    &.active {
      color: #fff;
      background-color: #008283;
    }
  }
}

ol[type="a"] {
  margin-top: 25px;
}

.issn {
  display: flex;
  justify-content: space-between;

  &>div {
    width: 50%;
  }

  @include respond-to(_425) {
    flex-direction: column-reverse;
  }
}

.nav {
  background: #008283;
  margin: 11px 0;

  @include respond-to(_1024) {
    display: none;
    background-color: #fff;
    margin: 40px 0 0 0;
  }

  .menu {
    list-style: none;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: stretch;

    .disable-link {
      & > a {
        pointer-events: none;
      }
    }

    & > li {
      // width: 100%;
      text-align: center;
    }

    @include respond-to(_1024) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1px;
    }

    li {
      border-left: 1px solid #fff;
      padding: 15px 10px 10px;
      margin: 0;
      transition: all .4s ease;
      position: relative;

      &.dropdown_menu {
        .dropdown-item{
          padding: 0;
        }
        &::after {
          content: '';
          height: 5px;
          width: 15px;
          display: block;
          background-image: url("../img/menu_vectore.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin: 0 auto;
          transition: all 0.25s;
          margin-top: 5px;
        }

        &:hover {
          &::after {
            transform: rotate(180deg);
            background-image: url("../img/menu_hover_vector.png");
          }
        }
      }

      @include respond-to(_1024) {
        border: 0;
        background-color: #008283;
        width: 100%;
        flex-direction: column;
        gap: 20px;
      }

      a {
        color: #fff;

        @include respond-to(_425) {
          font-weight: 600;
          font-size: 18px;
          line-height: 23.4px;
        }
      }

      .sub_menu {
        display: none;
        position: absolute;
        list-style: none;
        padding: 0;
        left: 0;
        background: #F6F6F6;
        border: 1px solid #1F1F1F;
        top: 100%;
        z-index: 99;
        width: 320px;

        @include respond-to(_1024) {
          position: relative;
          width: 100%;
          background: #F6F6F6;

          a {
            &:hover {
              a {
                color: #fff;
              }
            }
          }
        }

        & > li {
          border: 0;
          background: #F6F6F6;
          cursor: pointer;
          text-align: left;
          justify-content: flex-start;
          min-height: auto;
          padding: 15px;

          &:hover {
            background-color: #C4E2E2;
          }

          &>a {
            color: $primary;
          }
        }
      }

      &:hover {
        background-color: #E0E0E0;
        transition: all .4s ease;

        a {
          color: $primary;
        }

        &>.sub_menu {
          display: block;
        }
      }

      &:last-child {
        border-right: 1px solid #fff;
        background: linear-gradient(0deg, #865396, #865396), #814594;

        &:hover {
          a {
            color: $primary;
          }
        }
      }

    }
  }
}

.info_text {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #1F1F1F;
  opacity: 0.6;
  margin: 0;

  @include respond-to(_768) {
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
  }
}

.header {
  @include respond-to(_1024) {
    &.active {
      height: 250px;
    }
  }

  .header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include respond-to(_1024) {
      padding: 10px 0;
    }

    .header_logo {
      max-width: 140px;
      max-height: 89px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .mobile_search {
      display: none;

      @include respond-to(_1024) {
        &.active {
          position: absolute;
          left: 0;
          top: 100%;
          margin-top: 95px;
          display: block;
          width: 100%;

          input {
            padding: 14px 0;
            border-left: 0;
            border-right: 0;
            width: 100%;
            display: block;
          }
        }
      }

      @include respond-to(_375) {
        &.active {
          margin-top: 112px;
        }
      }

    }

    .header_language {
      display: flex;
      left: 20%;
      position: relative;


      @include respond-to(_1024) {
        display: none;
        position: absolute;
        right: 0;
        left: auto;
        top: 100%;
        margin-top: 20px;

        &.active {
          display: flex;
        }
      }

      a {
        padding: 5px 6px;
        border: 1px solid $primary;
        border-radius: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        width: 33px;
        height: 33px;
        display: block;
        margin-left: 10px;

        &:hover {
          background-color: $hover;
        }

        &.active {
          color: #fff;
          background-color: #008283;
        }
      }
    }

    .header_auth {
      @include respond-to(_1024) {
        &.active {
          display: block;
        }

        display: none;
        position: absolute;
        top: 100%;
        margin-top: 20px;
      }

      @include respond-to(_375) {
        &.active {
          ul {
            display: flex;
            flex-direction: column;

            a {
              text-align: center;
              margin-bottom: 5px;
            }
          }
        }
      }

      &.logged_in {
        ul {
          display: flex;
          align-items: center;
          position: relative;

          a {
            border: 0;
            width: 100%;
            height: 100%;
            display: block;
          }

          .logged_in_dropdown {
            display: none;
            position: absolute;
            list-style: none;
            padding: 0;
            margin: 0;
            background: #F6F6F6;
            z-index: 99;
            right: 0;
            top: 100%;
            border: 1px solid $primary;

            li {
              padding: 20px;
              margin: 0;

              a {
                padding: 0;
              }

              &:hover {
                background-color: #E0E0E0;
                cursor: pointer;

                a {
                  background: none;
                }
              }
            }
          }
        }
      }

      ul {
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;

        a {
          padding: 5px 6px;
          border: 1px solid $primary;
          border-radius: 42px;

          &:hover {
            background-color: $hover;
          }
        }
      }
    }
  }
}

.rules_block {
  display: flex;
  justify-content: space-between;

  .rules_block_right {
    width: 70%;
  }

  .rules_block_left {
    width: 30%;
  }
}

.wrapper {

  .issue_detail_page,
  .collegiya_page {
    padding: 80px 0 15px 0 !important;
  }

  .page_article {
    padding: 80px 0 90px 0;
    border-bottom: 1px solid #3D3D3D;

    @include respond-to(_1024) {
      padding: 60px 0 70px 0;
    }

    img {
      max-width: 320px;
      max-height: 355px;
      width: 100%;
      height: 100%;
    }

    &.bio_articles {
      display: flex;
      justify-content: space-between;
      gap: 0 90px;

      @include respond-to(_768) {
        flex-direction: column-reverse;
        gap: 20px 0;

        img {
          max-width: 300px;
          max-height: 332px;
          width: 100%;
          height: 100%;
        }
      }

      .bio_articles_right {
        display: flex;
        flex-direction: column;
        width: 65%;

        @include respond-to(_768) {
          width: 100%;
        }

        h2 {
          font-weight: 400;
          font-size: 70px;
          line-height: 90%;

          @include respond-to(_425) {
            font-size: 50px;
          }

          @include respond-to(_375) {
            font-weight: 400;
            font-size: 28px;
            line-height: 100%;
          }
        }

        h6 {
          font-family: 'Cambria', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 24px;
          line-height: 100%;
          color: #1F1F1F;
          opacity: 0.6;
          margin: 0;
          margin-bottom: 18%;
        }
      }
    }

    .page_description {
      p {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #1F1F1F;
      }
    }

    .page_description_bottom {
      margin-top: 30px;
      position: relative;

      &.formating_rules {
        border-top: 1px solid $primary;

        h4 {
          opacity: 1;
        }
      }

      h4 {
        color: #1F1F1F;
        opacity: 0.4;
      }

      input {
        border-left: 0;
        border-right: 0;
        width: 100%;
        display: none;
        padding: 24px 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;

        @include respond-to(_375) {
          font-weight: 600;
          font-size: 17px;
          line-height: 120%;
        }
      }

      &.issue_info {
        display: flex;
        justify-content: space-between;

        .views {
          font-weight: 400;
          font-size: 11px;
          line-height: 120%;
        }
      }

      .search_btn_close {
        position: absolute;
        margin-top: 28px;
        display: none;
        border: 0;
        background: none;
        width: 18px;
        height: 18px;
        padding: 0;
        right: 0;
        top: 0;

        @include respond-to(_375) {
          margin-top: 24px;
        }

        span {
          transform: scale(0);
          transition: all 0.4s linear;
        }

        &::before,
        &::after {
          top: 9px;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          background: $primary;
          border-radius: 2px;
          width: 22.74px;
          height: 2px;
          left: 0;
          transition: all 0.4s linear;
        }

        span {
          position: absolute;
          background: $primary;
          border-radius: 2px;
          left: 0;
          width: 18px;
          height: 2px;
          top: 8px;
          transition: all 0.4s linear;
        }
      }
      button.search_btn{
        display: none;
      }
      .search_btn {
        padding: 11px;
        border: 1px solid #1F1F1F;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5%;
        top: 0;
        margin-top: 20px;

        @include respond-to(_375) {
          margin-top: 14px;
        }

        img {
          width: 18px;
          height: 18px;
        }

        &:hover {
          background-color: $hover;
        }
      }

      .author {
        span {
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          text-transform: uppercase;
        }
      }
    }
  }

  .issue_page {
    @include respond-to(_768) {
      flex-direction: column-reverse !important;
      border-bottom: 0 !important;

      .sidebar {
        border-bottom: 1px solid $primary !important;
      }

      .issue_content {
        width: 100% !important;
        padding: 0 !important;
        margin-top: 0;
      }
    }
  }

  .main {
    display: flex;
    padding: 0;
    border-bottom: 1px solid #3D3D3D;

    &.manuscript_requirements {
      justify-content: flex-end;
    }

    .formating_rules {
      width: 100%;

      a {
        color: #138CD1;
      }
    }

    &.archive_page {
      border: 0;
    }

    @include respond-to(_768) {
      flex-direction: column;
    }

    &>div {
      margin: 60px 0;
    }

    .collegiya_detail_content {
      width: 70%;

      @include respond-to(_425) {
        width: 100%;
      }
    }

    .content {
      width: 70%;
      padding-right: 50px;

      @include respond-to(_768) {
        border: 0;
        width: 100%;
        border-bottom: 1px solid #3D3D3D;
        padding: 0 0 40px 0;
        margin-bottom: 0;
      }

      .main_content {
        margin-bottom: 80px;

        @include respond-to(_768) {
          margin-bottom: 60px;
        }

        .about_journal {
          font-family: 'Segoe UI', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 140%;
          color: #1F1F1F;

          @include respond-to(_768) {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
          }
        }
      }
    }

    .requirements_sidebar {
      width: 30%;

      ul {
        list-style: none;
        padding-left: 50px;
        margin: 0;

        li {
          margin: 20px 0;
          transition: all .3s ease;

          a {
            transition: all .3s ease;
            font-family: 'Segoe UI', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: #1F1F1F;
            opacity: 0.6;

            &:hover {
              opacity: 1;
            }
          }

          &.active {
            a {
              opacity: 1;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                background: $primary;
                border-radius: 2px;
                width: 30px;
                height: 2px;
                right: 100%;
                top: 42%;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }

    .sidebar {
      width: 30%;
      padding-left: 30px;
      border-left: 1px solid $primary;
      height: fit-content;

      @include respond-to(_768) {
        width: 100%;
        padding: 0;
        border: 0;
      }

      p {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin: 5px 0 30px 0;

        a {
          text-decoration: underline;
        }
      }

      .info_text {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        // text-transform: uppercase;
        color: #1F1F1F;
        opacity: 0.6;
        margin: 0;
      }

      .download_pdf {
        display: flex;
        align-items: center;
        border-radius: 41px;
        width: fit-content;
        margin-bottom: 60px;

        img {
          margin-right: 12.5px;
        }
      }

      .issue_img {
        margin-bottom: 30px;
        max-width: 240px;
        max-height: 340px;
      }
    }

    .archive_content {
      width: 100%;

      .archive_select {
        border: 0;
        border-top: 1px solid #3D3D3D;
        width: 100%;
        font-weight: 700;
        font-size: 42px;
        line-height: 56px;
        margin: 0;
        padding: 30px 20px;
        position: relative;
        list-style: none;

        @include respond-to(_768) {
          padding: 30px 0;
          font-weight: 600;
          font-size: 32px;
          line-height: 100%;
        }

        li {
          font-weight: 600;
          font-size: 42px;
          line-height: 42px;
          cursor: pointer;
          position: relative;
          margin: 0;

          &.active {
            color: #008283;

            ul {
              display: flex;
            }
          }

          ul {
            display: none;
            list-style: none;
            padding: 0;
            margin-top: 40px;
            flex-wrap: wrap;

            &>li {
              width: 25%;
              margin-bottom: 40px;

              @include respond-to(_768) {
                width: 50%;
              }

              a {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;

                @include respond-to(_425) {
                  font-weight: 600;
                  font-size: 15px;
                  line-height: 120%;
                }

                img {
                  max-width: 220px;

                  @include respond-to(_425) {
                    max-width: 125px;
                  }
                }
              }
            }
          }
        }

        &>li {
          &::after {
            content: url("/plugins/themes/healthSciences/img/archive_dropdown.png");
            position: absolute;
            right: 0;
            top: 0;
            z-index: -9;
            width: 24px;
            height: 12px;
          }
        }

        &:last-child {
          border-bottom: 1px solid #3D3D3D;
        }

      }
    }

    .issue_content {
      width: 70%;
      padding-right: 50px;

      @include respond-to(_768) {
        width: 100%;
        padding: 0;
        border-bottom: 1px solid $primary;
      }

      .issue_author_block {
        border-bottom: 1px solid $primary;
        padding-bottom: 40px;

        h3 {
          font-family: 'Segoe UI', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 130%;
          color: #1F1F1F;

          @include respond-to(_425) {
            font-weight: 600;
            font-size: 17px;
            line-height: 120%;
          }
        }
      }

      .key_words {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        p {
          padding: 4px 12px;
          border: 1px solid #1F1F1F;
          border-radius: 42px;
          margin: 0;
        }
      }

      .issue_info_block {
        border-bottom: 1px solid $primary;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }

      a {
        color: #138CD1;
      }

      h4 {
        margin-top: 10px;
        font-size: 20px;

        @include respond-to(_425) {
          font-weight: 600;
          font-size: 17px;
          line-height: 120%;
        }
      }

      p {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25.2px;
        color: #1F1F1F;

        @include respond-to(_425) {
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
        }
      }
    }

    .requirements_content {
      width: 70%;

      h4 {
        margin-top: 0;
      }

      a {
        color: #138CD1;
        text-decoration: underline;
      }

      p {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #1F1F1F;

        &.notice {
          font-weight: 400;
          font-size: 24px;
          line-height: 140%;
          color: #1F1F1F;
          padding: 20px 0;
          border-top: 1px solid #1F1F1F;
          border-bottom: 1px solid #1F1F1F;
        }
      }
    }

    .auth_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: -webkit-fill-available;

      .auth_block {
        border: 1px solid #1F1F1F;
        padding: 60px;
        max-width: 760px;
        width: 100%;

        .required_text {
          color: #0DB45A;
          text-align: left;
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
        }

        .result_error {
          color: #D34747;
          text-align: left;
        }

        .result_error_input {
          border: 1px solid #D34747;
        }

        &>p {
          text-align: center;
        }
      }

      .auth_correct {
        h6 {
          font-weight: 600;
          font-size: 25px;
          line-height: 120%;
          opacity: 1;
          text-align: center;
        }

        .sign_in_btn {
          justify-content: center;

          a {
            opacity: 1;
            text-align: center;
          }
        }
      }

      .auth_block_2 {
        .input_row {
          display: flex;
          width: 638px;

          input {
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      h4 {
        text-align: center;
        margin-top: 0;
      }

      .checkbox {
        display: flex;
        align-items: center;
        gap: 0 15px;



        input {
          zoom: 2;
          width: fit-content;
          margin: 0;
        }
      }

      .required_input {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #1F1F1F;
        opacity: 0.6;
        text-align: right !important;
      }

      input {
        width: 100%;
        margin-top: 20px;
      }

      .default_btn {
        position: relative;

        &::after {
          content: "";
          width: 100%;
          border-bottom: 1px solid #1F1F1F;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 20px;
        }
      }

      .sign_in_btn {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        a {
          color: #1F1F1F;
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .collegiya {
      width: 100%;
      margin: 0;

      .block_collegiya {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        border-bottom: 1px solid #3D3D3D;
        align-items: flex-start;
        position: relative;
        cursor: pointer;
        transition: all .4s ease;

        @include respond-to(_425) {
          flex-direction: column;
          padding: 18px 0;
          gap: 8px 0;
        }

        &:hover {
          background: #E0E0E0;
          transition: all .4s ease;
        }

        &>a {
          font-weight: 600;
          font-size: 20px;
          line-height: 26px;
          color: #1F1F1F;
          background: transparent;
          border: 0;
          text-align: left;
        }

        &>a,
        p {
          width: 50%;

          @include respond-to(_425) {
            width: 100%;
          }
        }

        p {
          margin: 0;
        }

        &:last-child {
          border: 0;
        }

        .collegiya_popup {
          display: none;
          padding: 30px 20px;
          background-color: #fff;
          position: absolute;
          max-width: 585px;
          border: 1px solid #1F1F1F;
          right: 0;
          top: 0;
          z-index: 9;

          &.active {
            display: block;
          }

          .collegiya_popup_top {
            display: flex;
            justify-content: space-between;

            img {
              margin-right: 30px;
            }
          }

          .collegiya_popup_bottom {
            margin-top: 28px;

            p {
              width: 100%;
            }
          }
        }
      }
    }

    .error_page {
      width: 100%;

      .error_404 {
        font-family: 'CM Literata';
        font-style: normal;
        font-weight: 400;
        font-size: 240px;
        line-height: 90%;
        color: #008283;
        padding: 120px 0 60px 0;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $primary;
        width: min-content;
      }

      p {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: #1F1F1F;
        text-align: center;
      }

      .btn_404 {
        padding: 6px 24px;
        border: 1px solid #1F1F1F;
        border-radius: 42px;
        margin: 0 auto;
        max-width: 200px;
        display: block;
      }
    }

    .search_content {
      width: 70%;

      @include respond-to(_768) {
        width: 100%;
      }

      .filter {
        display: flex;
        justify-content: space-between;

        .filter_left,
        .filter_right {
          display: flex;
          gap: 20px;

          @include respond-to(_375) {
            gap: 5px;
          }
        }

        select {
          padding: 13px 20px;
          border: 1px solid #1F1F1F;
          font-family: 'Segoe UI', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 130%;
          margin-bottom: 60px;
          margin-top: 20px;
          cursor: pointer;
          outline: none;

          @include respond-to(_425) {
            padding: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
          }
        }
      }
    }
  }
}

.footer {
  margin-top: 60px;
  background-color: #313131;
  padding: 60px 0 30px 0;

  .footer_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: 1px solid #fff;

    @include respond-to(_425) {
      padding-bottom: 63px;
      flex-direction: column;

      &>div {
        margin-bottom: 20px;
      }
    }

    &>div {
      width: 24%;

      @include respond-to(_425) {
        width: 100%;
      }
    }

    .footer_contact_number {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 5px;
      }
    }

    .footer_network {
      margin-right: 5%;
    }
  }

  .footer_bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    @include respond-to(_425) {
      flex-direction: column;
    }

    p,
    a {
      display: flex;
      align-items: center;
      text-transform: capitalize;

      img {
        margin-left: 10px;
      }
    }
  }

  .info_text {
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 12px;
  }

  a,
  p {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;

    @include respond-to(_375) {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
    }
  }
}