@import "bourbon/bourbon";
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
}

@mixin respond-to($media) {
  @if $media==_320 {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }

  @else if $media==_425 {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }

  @else if $media==_675 {
    @media only screen and (max-width: 675px) {
      @content;
    }
  }

  @else if $media==_768 {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @else if $media==_991 {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }

  @else if $media==_1024 {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @else if $media==_1200 {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @else if $media==_1440 {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}
$primary: #1F1F1F;
$hover: #C4E2E2;

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  color: $primary;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.hidden {
  display: none;
}
a{
  color: $primary;
  transition: all .3s ease;
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  &:hover{
    color: $primary;
    transition: all .3s ease;
    text-decoration: none;
  }
}
ul{
  list-style: none;
}
h1{
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  font-size: 240px;
  line-height: 80%;
  display: flex;
  align-items: center;
  color: #008283;
  margin: 9px 0;
}
h2{
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 90%;
  color: #008283;
  margin:0 0 30px 0;
}
h3{
  font-family: 'Cambria';
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #008283;
  margin: 8px 0;
}
h4{
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  color: #1F1F1F;
}
h5{
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #1F1F1F;
  opacity: 0.4;
}
h6{
  font-family: 'Segoe UI',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  color: #1F1F1F;
  margin-top: 10px;
  margin: 0;
}
p{
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: $primary;
  margin: 0;
}
.nav{
  background: #008283;
  margin: 11px 0;
  .menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    li{
      border-left: 1px solid #fff;
      padding: 18px 8px;
      a{
        color: #fff;
        &:hover{
          color: $primary;
        }
      }
      &:last-child{
        border-right: 1px solid #fff;
        padding: 13px 10px;
        a{
          padding: 4px 6px;
          color: $primary;
          background: #fff;
          border: 1px solid #fff;
          border-radius: 42px;
          &:hover{
            background-color: $hover;
            border: 1px solid $primary;
          }
        }
      }
    }
  }
}
.info_text{
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #1F1F1F;
  opacity: 0.6;   
  margin: 0;
}

.header{
  .header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_logo{
      max-width: 140px;
      max-height: 89px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .header_language{
      display: flex;
      left: 20%;
      position: relative;
      a{
        padding: 5px 6px;
        border: 1px solid $primary;
        border-radius: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        width: 33px;
        height: 33px;
        display: block;
        margin-left: 10px;
        &:hover{
          background-color: $hover;
        }
        &.active{
          color: #fff;
          background-color: #008283;
        }
      }
    }
    .header_auth{
      a{
        padding: 5px 6px;
        border: 1px solid $primary;
        border-radius: 42px;
        &:hover{
          background-color: $hover;
        }
      }
    }
  }
}

.wrapper{
  .home_page{
    padding: 80px 0 90px 0;
    border-bottom: 1px solid #3D3D3D;
    .page_description{
      p{
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #1F1F1F;
      }
    }
    .search{
      float: right;
      margin-top: 30px;
      a{
        padding: 11px;
        border: 1px solid #1F1F1F;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        img{
          width: 18px;
          height: 18px;
        }
        &:hover{
          background-color: $hover;
        }
      }
    }
  }
.main{
    display: flex;
    padding: 60px 0 ;
    border-bottom: 1px solid #3D3D3D;
    .content{
      width: 70%;
      padding-right: 50px;
      border-right: 1px solid #3D3D3D;
      .main_content{
        margin-bottom: 80px;
      }
      .content_description{
        p{
          font-family: 'Segoe UI', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          margin-bottom: 30px;
        }
      }
    }
    .sidebar{
      width: 30%;
      padding-left: 30px;
      p{
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin: 5px 0 30px 0;
      }
      .issn{
        display: flex;
        justify-content: space-between;
      }
      .info_text{
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        // text-transform: uppercase;
        color: #1F1F1F;
        opacity: 0.6;   
        margin: 0;
      }
      .download_pdf{
        display: flex;
        align-items: center;
        border: 1px solid #000000;
        border-radius: 41px;
        width: fit-content;
        padding: 8.5px 15.5px;
        img{
          margin-right: 12.5px;
        }
      }
      .issue_img{
        margin-bottom: 30px;
      }
    }
    .archive_content{
      width: 100%;
      .archive_select{
        border: 0;
        border-top: 1px solid;
        width: 100%;
        font-weight: 700;
        font-size: 42px;
        line-height: 56px;  
        margin:0;
        padding: 18px 0 16px 0;
        position: relative;
        

        li{
          &.active{
            ul{
              display: block;
            }
          }
          ul{
            display: none;
          }
        }
        &:last-child{
          border-bottom: 1px solid;
        }
        &::after{
          content: url("../img/archive_dropdown.png");
          position: absolute;
          width: auto;
          height: fit-content;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -9;
        }
      }
    }
    .issue_content{
      width: 70%;
      padding-right: 50px;
      border-right: 1px solid #3D3D3D;
      .issue_block{
        padding: 30px 20px;
        border: 1px solid #1F1F1F;
        filter: drop-shadow(0px 13px 12px rgba(34, 34, 34, 0.25));
        margin-bottom: 10px;
        p{
          font-family: 'Segoe UI', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          text-transform: uppercase;
          color: #1F1F1F;
          opacity: 0.8;

        }
      }
    }
  }
}
.footer{
  margin-top: 60px;
  background-color: #313131;
  padding: 60px 0 30px 0;
  .footer_top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: 1px solid #fff;
    .footer_contact_number{
      display: flex;
      flex-direction: column;
      a{
        margin-bottom: 5px;
      }
    }
    .footer_network{
      .networks{
        display: flex;
        justify-content: space-around;
        a{
          img{
            max-width: 21px;
            max-height: 21px;
          }
        }
      }
    }
  }
  .footer_bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    p,a {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      img{
        margin-left: 10px;
      }
    }
  }
  .info_text{
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 12px;
  }
  a, p{
    font-family: 'Segoe UI' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    // text-transform: uppercase;
    color: #FFFFFF;
      
  }
}